#banner{
    font-family: 'Stalemate', cursive;
    font-size: 50px;
}
.logo{
    font-family: 'Stalemate', cursive;
    font-size: 50px;
}

.style_font{
    font-family: 'Julius Sans One', sans-serif !important;
}